body {
  font-family: Inter, Arial, sans-serif;
  background: #ffd8e4;
  margin: 20px;
  color: #776e65;
}

.app {
  width: 420px;
  margin: 0 auto;            
}

.title {
  text-align: center;
}

.game-root {
  display: flex;
  flex-direction: column;
  align-items: center;       
}

.board {
  background: #bbada0;
  padding: 12px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}

.board-row {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.tile {
  width: 80px;
  height: 80px;
  background: #f9ecde;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: bold;
}

.tile.placeholder {
  width: 80px;
  height: 80px;
  background: #f9ecde;
  border-radius: 6px;
}
